header {
width: 100%;
padding: 2rem 1.5rem 1.5rem 1.5rem;
font-weight: var(--font-weight-bold);
}

header h1 {
font-size: 1.5rem;
padding-bottom: 0.2rem;
}

@media (min-width: 500px) {
header h1 {
    font-size: 2rem;
}
}

@media (min-width: 700px) {
    header h1 {
    font-size: 2.5rem;
    }
}

hr {
margin: 1rem 0;
}

.toggle .light-mode {
display: none;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: var(--toggle-dark);
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 15px;
    height: 15px;
    background: var(--top-bg-dark);
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: var(--toggle-light);
}

input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background: var(--top-bg-light);
}

label:active:after {
    width: 30px;
}


@media (min-width: 768px) {
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
hr {
    display: none;
}
.toggle {
    align-items: center;
    gap: 0.4rem;
}

}

.toggle {
display: flex;
justify-content: space-between;
}